/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

/* font */

body {
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

/* clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    background-color: white;
}

/* HEADER */

h1{
    color: rgb(229, 49, 112);
    text-align: center;
}

p {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

/* MAIN CONTENT */

.cards-top {
    padding-bottom: 2rem;
}

.card {
    background-color: rgb(15, 14, 23);
    width: 30%;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

img {
    float: left;
    height: 5.5rem;
}

.info {
    float: left;
    padding: 0.8rem 0 0 0.8rem;
}

a {
    color: rgb(43, 130, 183);
    text-decoration: none;
}

.left {
    float: left;
}

.margin-card {
    margin-right: 5%;
}