/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h3{
    color: rgb(229, 49, 112);
}

.card {
    background-color: rgb(15, 14, 23);
}

.mail {
    color: rgb(43, 130, 183);
}